<div class="m-slider__item">
  <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}" alt="" class="m-slider__img m-slider__team-img">
  <div class="m-slider__title">{{ content.field_title }}</div>
  <div class="m-slider__sub-title">{{ content.field_subtitle }}</div>
  <a href="{{ content.field_link.0['#url'] }}" class="m-slider__link" >{{ content.field_link.0['#title'] }}</a>
</div>


