<article class="m-article">
  <div class="m-article__header">
    {{ content.field_built_header }}
  </div>
  <div class="m-article__body">
      {{ content.field_article_tags }}
    <div class="m-article__title">{{ content.field_title }}</div>
    <div class="m-article__meta">
    {% if paragraph.field_blog is not empty %}
      {{ paragraph.field_blog.entity.Owner.name.value }} / {{ paragraph.field_blog.entity.createdtime|format_date('medium') }}
    {% endif %}
    </div>
    <div class="m-article__text">{{ content.field_description }}</div>
    <a href="{{ content.field_link.0['#url'] }}" class="m-article__read-more" >
      {{ content.field_link.0['#title'] }}
    </a>
    <svg class="l-btn--next-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="8" viewBox="0 0 16 8"><g><g><path fill="#329595" d="M12.01 3H0v2h12.01v3L16 4l-3.99-4z"/></g></g></svg>
  </div>
</article>